* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Lucida Sans Unicode;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    border: 25px solid #2B81AC;
    background: #39C;
    margin-top: 100px;
}


.sub-contaiener {
    width: 1170px;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 120px;

}

.sub-contaiener .title {
    color: #FFF;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-bottom: 40px;
}

.wrapper-weather {
    display: inline-block;
    border: 2px solid #FFF;
    margin: auto;
    font-size: 0;
    opacity: 1;
}


.row {
    display: inline-block;
    width: 1170px;
}

.city {
    width: 50%;
    display: inline-block;
    padding: 30px 0;
    opacity: 0.5;
    transition: all .1s linear;
}

.city:hover {
    opacity: 1 ;
}

.city:not(:last-child) {
    border-right: 2px solid #FFF;
}

.row-1 .city:not(:first-child) {
    width: 25%;
}

.center {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    list-style: none;
}

.row-2 .city {
    width: 25%;
}

.row-3 .city {
    width: 25%;
}

.row-3 .city:nth-child(2) {
    width: 50%;
}

.row-4 .city {
    width: 100%;
}

.row-1, 
.row-2, 
.row-3 {
    border-bottom: 2px solid #FFF;
}

.footer {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-top: 35px;
}

#lisbon {
    background-color: #64bbe7;
}

#paris {
    background-color: #33CCCC;
}

#belgrade {
    background-color: #996699;
}

#venice {
    background-color: #C24747;
}

#telaviv {
    background-color: #E2674A;
}

#cairo {
    background-color: #FFCC66;
}

#newyork {
    background-color: #99CC99;
}

#newdelhi {
    background-color: #669999;
}

#sanfrancisco {
    background-color: #CC6699;
}

#tokyo {
    background-color: #339966;
}

#sydney {
    background-color: #666699;
}
