body {
    margin: 0;
    padding: 0;
    width: 1200px;
    height: 588px;
    font-family: Roboto, sans-serif;
    justify-content: center;
    align-items: center;
}

.shopping-list-container {
    width: 1200px;
    height: 650px;
    top: 20px;
    left: 20px;
    padding: 0px;
    border-radius;
    text-align: center;
    position: relative;
    background-color: #3B3F45;
}

.title:before {
    font-size: 1.2rem;
}

.title {
    text-align: center;
    color: #FF8984;
    margin: 2px 2px;
}

header {
    background: #4A4F56;
    text-align: center;
}

header h1 {
    color: #FF8984;
    margin-bottom: 18px;
    padding-top: 16px;
}

header p {
    color: #FF8984;
    padding-bottom: 17px;
}


.shopping-list {
    width: 800px;
    height: 408px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

label {
    display: block;
    padding: 15px;
}

span {
    size: 27px;
}

.shopping-list li {
    width: 800px;
    height: 68px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    background-color: #7A7593;
    position: relative;
}

.shopping-list li:nth-child(odd) {
    background-color: #88839E;
}

.shopping-list li:hover {
    background-color: #393646;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.shopping-list li input:checked+label {
    background-color: palegray;
    transition: background-color 0.5s;
}

.shopping-list li input:checked+span {
    text-decoration: line-through;
    color: #9B96AC;
}


.shopping-list li:active {
    background-color: #FF5C5C;
}

.shopping-list li label {
    width: fit-content;
    display: block;
    justify-content: center;
    color: #FFFFFF;
}


/* .shopping-list li input:checked+span {
    text-decoration: line-through;
    color: #9B96AC;
}

.shopping-list li input:checked+.note {
    text-decoration: line-through;
    color: #9B96AC;
} */

.shopping-list li .note {
    font-size: 0.9rem;
    color: #FFFFFF;
    margin-left: 10px;
    line-height: 22px;
}

.shopping-list li input:checked+.note {
    text-decoration: line-through;
    color: #9B96AC;
}

footer {
    width: 800px;
    height: 65px;
    background: #4A4F56;
    text-align: center;
    margin-left: 215px;

}

footer p {
    color: #f28b82;
    width: 166px;
    height: 33px;
    padding-top: 16px;
    padding-left: 317px;
    margin-top: 20px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 32.81px;
    text-align: center;

}