* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    padding: 17px 0;
}

img {
    vertical-align: top;
}

ul,
ol,
li {
    list-style: none;
}

button,
a {
    transition: all 0.2s ease;
}

a {
    text-decoration: none;
}

.container {
    width: min(90%, 1230px);
    margin-inline: auto;
    display: flex;
    flex-flow: wrap;
}

.nav-container {
    width: 1230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
}

.nav-logo {
    height: 32px;
}

.nav-menu ul {
    display: flex;
    gap: 20px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #2F281E;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-menu ul li a:hover {
    color: #FF9900;
}

.auth-buttons {
    display: flex;
}

.auth-buttons button {
    margin-left: 32px;
    padding: 13px 25px;
    text-decoration: none;
    background-color: #FF9900;
    color: #fff;
    font-size: 1rem;
    border: 1px;
    border-radius: 4px;
    border-color: #FF9900;
}

.auth-buttons button:hover {
    background-color: #fff;
    color: #2F281E;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}

.container-first-screen {
    width: 1230px;
    padding-top: 90px;
}

.first-screen {
    width: 1230px;
    padding: 90px 0 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.first-screen-text h1 {
    font-size: 2.75rem;
    color: #2F281E;
    font-style: normal;
    line-height: 54px;
    padding-top: 97px;
}

.first-screen-text p {
    width: 500px;
    font-size: 18px;
    color: #544837;
    line-height: 28px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.first-screen .bnt {
    width: 180px;
    height: 50px;
    background-color: #FF9900;
    color: #fff;
    font-size: 1.125rem;
    border: 1px;
    border-radius: 4px;
    border-color: #FF9900;
}

.first-screen .bnt:hover {
    background-color: #fff;
    color: #2F281E;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}

.first-screen img {
    max-height: 645px;
}

.container-superpower-tools {
    width: 1200px;
    padding-bottom: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff url(../assets/images/bg.svg) center bottom no-repeat;
    background-size: cover;
}

.container-superpower-tools h2 {
    width: 539px;
    font-size: 2.25rem;
}

.container-superpower-tools .cta-button {
    width: 180px;
    height: 50px;
    background-color: #FF9900;
    color: #fff;
    font-size: 1.125rem;
    border: 1px;
    border-radius: 4px;
    border-color: #FF9900;
}

.container-superpower-tools .cta-button:hover {
    background-color: #fff;
    color: #2F281E;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}

.tools-grid {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 60px;
}

.tool-item {
    width: 270px;
}

.tool-item img {
    width: 50px;
    height: 50px;
}

.tool-item h3 {
    padding: 30px 0px 16px;
}

.footer-container {
    display: flex;
    padding-bottom: 70px;
    align-items: flex-start;
    gap: 140px;
}

.footer-logo {
    height: 32px;
    padding-bottom: 177px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-column h3 {
    width: 137px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #2F281E;
}

.footer-column ul li a {
    text-decoration: none;
    color: #2F281E;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #FF9900;
}

.footer-column-quick-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.footer-column-legal-stuff {
    width: 137px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.footer-column-submit {
    display: flex;
    flex-direction: column;
    width: 1200px;
    padding-bottom: 40px;
    justify-content: space-between;
    gap: 25px;
}

.footer-column-submit-h3 {
    width: 280px;
    font-size: 1.25rem;
}

.footer-column-form {
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-column-submit input {
    display: flex;
    width: 300px;
    height: 50px;
    padding: 0px 10px;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
}

.footer-column-submit button {
    width: 180px;
    height: 50px;
    text-decoration: none;
    background-color: #FF9900;
    color: #fff;
    font-size: 1rem;
    border: 1px;
    border-radius: 4px;
    border-color: #FF9900;
}

.footer-column-submit button:hover {
    background-color: #fff;
    color: #2F281E;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}