* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    padding: 17px 0;
}

img {
    vertical-align: top;
}

ul,
ol,
li {
    list-style: none;
}

button,
a {
    transition: all 0.2s ease;
}

a {
    text-decoration: none;
}

.container {
    width: min(90%, 1200px);
    margin-inline: auto;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 32px;
}

.nav-menu ul {
    display: flex;
    gap: 20px;
}

/* .nav-menu ul li {
    margin-left: 20px;
} */

.nav-menu ul li a {
    text-decoration: none;
    color: #2F281E;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-menu ul li a:hover {
    color: #FF9900;
}

.auth-buttons {
    display: flex;
}

.auth-buttons button {
    margin-left: 32px;
    padding: 13px 25px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    background-color: #FF9900;
    color: #fff;
    font-size: 16px;
    border: 1px solid #BCD0E5;
}

.auth-buttons button:hover {
    background-color: #fff;
    color: #2F281E;
}

.first-screen .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 56px;
}

.first-screen-text {
    width: 500px;
    padding-top: 97px;
    padding-bottom: 97px;
    padding-right: 56px;
}

h1 {
    font-size: 44px;
    color: #2F281E;
}

p {
    font-size: 18px;
    color: #544837;
    padding-top: 30px;
    padding-bottom: 20px;
}

.first-screen .bnt {
    width: 180px;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    background-color: #FF9900;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
}

.first-screen img {
    width: 664px;
    height: auto;
    max-height: 495px;
}