:root {
  --text-color: #070707;
  --gray-color: #828282;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  color: var(--text-color);
}

ul,
ol,
li {
  list-style: none;
}

img {
  width: 100%;
}

.header {
  width: 500px;
margin: 25px auto;
}

.header .nav-links {
  display: flex;
  justify-content: space-between;
}

.header .nav-links > li > a {
  color: #828282;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  text-decoration: none;
  transition: all 0.3s linear;
}

.header .nav-links > li > a:hover {
  color: #070707;
}

.container {
  max-width: 1000px;
  width: auto;
  margin: auto;
  padding: 0 20px;
}

.container .banner {
  border-top: 1px solid var(--gray-color);
  margin: auto;
  padding-top: 20px;
}

.container .banner .title {
  margin-bottom: 50px;
}

.about-me {
  background: var(--bg-gray, #f6f6f6);
  padding: 100px 0;
}

.about-me .about-me-title {
  color: var(--Black, #070707);
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}

.about-me .par {
  width: 500px;
  margin: auto;
}

.about-me .par > p {
  color: var(--Black, #070707);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.about-me .par > p:last-child {
  margin-bottom: 0;
}

.skills {
  padding: 100px 0;
}

.skills-title {
  color: var(--Black, #070707);
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 50px;
  margin-bottom: 20px;
}

.skills-par {
  color: var(--Black, #070707);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;
}

.icone {
  display: flex;
  padding: 0;
  text-align: center;
  margin: 20px 50px;
}

.icone img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.icone .svg-icon {
  width: 80px;
  height: 80px;
}
.icone .gray {
    opacity: .2;
}

.icone .skills-tool {
  color: var(--text, #828282);
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
  /* margin-top: 25px; */
  /* margin-bottom: 60px; */
  width: 80px;
  margin: 25px auto 70px;
  text-align: center;
  height: 31px;
}
.icone li {
  list-style-type: none;
  margin: 20px;
}

.portfolio {
  background: var(--bg-gray, #f6f6f6);
  padding: 100px 0;
}

.portfolio .portfolio-title {
  color: var(--Black, #070707);
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}

.online-fashion-link {
  margin-top: 40px;
  margin-bottom: 70px;
  color: var(--Black, #070707);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  display: block;
}

.link {
  color: var(--Black, #070707);
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-top: 40px;
  margin-bottom: 70px;
  display: block;
}

footer {
  padding: 100px 0;
}

.flex-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contacts {
  text-align: center;
}

footer p {
  font-weight: 280px;
  margin-top: 46px;
  text-align: center;
  font-style: normal;
  line-height: normal;
}

footer ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

footer ul li {
  margin: 0 15px;
  list-style-type: none;
}

footer a {
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  height: 44px;
  line-height: 40px;
  padding: 0 16px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  border-radius: 22px;
  border: 2px solid #000;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  letter-spacing: 1.8px;
  margin-top: 60px;
  margin-bottom: 30px;
  transition: all 0.3s linear;
}
.btn:hover {
  color: #000;
  background-color: #fff;
}
.media {
  margin-bottom: 60px;
  width: 200px;
  margin: auto;
  text-align: center;
}

.media .footer-link {
  color: #828282;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
