* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: "Delius Unicase" "Roboto" sans-serif;
}

.container-main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 135px 120px;
}

img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
}

.container {
    width: min(90% 1170px);
    margin: 0 auto;
}

.container h2 {
    color: #000;
    text-align: center;
    font-family: "Delius Unicase";
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    padding: 120px 0px 80px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.c-span2 {
    grid-column: span 2;
}

.r-span2 {
    grid-row: span 2;
}

.gallery-second {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.item-big {
    grid-column: span 2;
    grid-row: span 2;
}

.gallery-third {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.item-long {
    grid-column: span 1;
    grid-row: span 2;
}

.item {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.icone {
    width: 20px;
    height: 20px;
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #E0E0E0;
    opacity: .5;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 40px;
    transition: all .5s ease;
    z-index: 2;
}

.btn:hover {
    opacity: 1;
}

.btn-like {
    left: -40px;
}

.btn-share {
    right: -40px;
}

.item:hover .btn {
    top: 20px;
}

.item:hover .btn-like {
    left: 20px;
}

.item:hover .btn-share {
    right: 20px;
}

.item-bottom {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-family: Roboto;
    font-size: 1.25rem;
    transition: all .5s ease;
}

.author {
    font-weight: 600;
}

.item img {
    transition: all .5s ease;
}

.item:hover img {
    scale: 1.1;
}

.item::before .item::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: all .5s ease;
    z-index: 1;
}

.item::after {
    height: 100%;
    background-image: linear-gradient(to top, #241F24 0%, rgba(91, 91, 91, .45) 34%,
            rgba(186, 185, 192 .26) 63%);
}

.item::before {
    height: 70px;
    background-image: linear-gradient(to top, #241F24, transparent);
    opacity: 0;
}

.item:hover::after {
    opacity: 0;
}

.item:hover::before {
    opacity: 1;
}